{% block body %}

<style>
/* Full-width inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: cuprum;
    font-style: normal;
    font-weight: 400;
}
.flash{
text-align: center;
}


	</style>
<body>
<div class="container">
    <form action="/user/process_login" method="POST">
    <label for="username"><b>Username </b><small>First Initial and Last name ex: jdoe</small></label>
    <input type="text" placeholder="Enter Username" name="username" >

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password">
    <button type="submit" class="btn btn-primary" >Login</button>
    </form>
    </div>
</body>
{% endblock %}