*.pyc
__pycache__/*
cad/time.py
.idea/workspace.xml
*.xml
.idea
.DS_Store
*venv
cad/test.py
new/templates/cad/folium_map.html
cad/folium_map.html
*.idea
new/resources/secret.config
*.zip
blacklist.config
new/resources/balcklist.config
secret.config
