[incident_types]
fire_incidents = ["","TEST INCIDENT","1 ALARM FIRE", "MULTI ALARM FIRE","AIRCRAFT INCIDENT", "ALARM ACTIVATION", "BRUSH FIRE", "EXPLOSION", "HAZMAT", "INDUSTRIAL ACCIDENT", "INSIDE FIRE", "INJURED PERSON", "OUTSIDE FIRE", "SEARCH AND RESCUE", "TECHNICAL RESCUE", "TREE/WIRES DOWN", "VEHICLE ACCIDENT", "VEHICLE FIRE", "WATER PROBLEM", "WATER/ICE RESCUE", "WIRE/TRANSFORMER FIRE"]

police_incidents = ["BOLO", "BOMB THREAT", "BURGLARY", "MISSING PERSON", "POLICE ACTIVITY", "PROTEST", "ROBBERY", "SPECIAL TEAM ACTIVATION", "STABBING/SHOOTING", "UNEXPLODED ORDINANCE", "VEHICLE/SUSPECT PURSUIT"]

weather_alerts = ["REPORTED WEATHER EVENT", "SPECIAL WEATHER STATEMENT"]
fire_weather_alerts = ["RED FLAG WARNING"]
storm_weather_alerts = ["HIGH WIND WARNING", "EXTREME WIND WARNING", "WIND ADVISORY", "SEVERE THUNDERSTORM WARNING", "TORNADO WARNING", "FLOOD ADVISORY", "FLOOD WATCH", "FLASH FLOOD WATCH", "FLASH FLOOD WARNING", "RIVER FLOOD WARNING", "TROPICAL STORM WARNING", "HURRICANE WARNING"]
winter_weather_alerts = ["WINTER STORM WATCH", "WINTER STORM ADVISORY", "WINTER STORM WARNING", "BLIZZARD WARNING", "ICE STORM WARNING"]

[non_tweetable_incidents]
incidents = ["BOLO", "BOMB THREAT", "BURGLARY", "MISSING PERSON","POLICE ACTIVITY",
                               "PROTEST", "ROBBERY", "SPECIAL TEAM ACTIVATION","STABBING/SHOOTING", "UNEXPLODED ORDINANCE", "VEHICLE/SUSPECT PURSUIT"]

[tweetable_towns]
tweetable_towns_CT = ["THOMPSON", "WOODSTOCK", "ASHFORD", "EASTFORD", "PUTNAM", "KILLINGLY", "POMFRET", "BROOKLYN", "HAMPTON", "CHAPLIN", "WINDHAM", "SCOTLAND",
                          "CANTERBURY", "PLAINFIELD", "STERLING", "SPRAGUE", "NORWICH", "FRANKLIN", "LISBON", "VOLUNTOWN", "GRISWOLD", "BOZRAH", "PRESTON", "COLCHESTER",
                          "SALEM", "MONTVILLE", "NORTH STONINGTON", "UNION","STATE WIDE", "STATEWIDE", "WINDHAM COUNTY", "TOLLAND COUNTY", "NEW LONDON COUNTY"]
tweetable_towns_MA = ["WEBSTER", "DOUGLAS", "SUTTON", "OXFORD", "CHARLTON", "DUDLEY", "SOUTHBRIDGE", "STURBRIDGE", "CHARLTON", "AUBURN", "MILBURY", "WORCESTER", "STATE WIDE", "STATEWIDE", "WORCESTER COUNTY"]
tweetable_towns_RI = ["BURRILLVILLE", "GLOCESTER"]