{% extends 'topnav.html' %}
{% block body %}
<style>
input[type=option], input[type=password], input[type=text], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

</style>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="author" content="Daniel Majercik">
<meta name="description" content="">
<title>Edit Incident | Quiet Corner Alerts</title>
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col md-12">
					<div class="jumbotron p-3">
						<h2>Edit Incident</h2>
						<form action="{{url_for('cad.edit_post')}}" method="POST">
							<div class="form-group">
								<label>Incident Type*</label>
								<select id="incident" class="form-control" name="incident" required="1">
									<optgroup label="FIRE INCIDENTS">
                                        {% for x in fire_incidents %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									</optgroup>
									<optgroup label="POLICE INCIDENTS">
                                        {% for x in police_incidents %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									</optgroup>
									<optgroup label="WEATHER ALERTS">
									    {% for x in weather_alerts %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									<optgroup label="FIRE WEATHER ALERTS">
									    {% for x in fire_weather_alerts %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									</optgroup>
									<optgroup label="STORM WEATHER ALERTS">
									    {% for x in storm_weather_alerts %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									</optgroup>
									<optgroup label="WINTER WEATHER ALERTS">
                                        {% for x in winter_weather_alerts %}
                                            <option value="{{x}}">{{x}}</option>
                                        {% endfor %}
									</optgroup>
									</optgroup>
								</select>
							</div>

							<div class="form-group">
								<label>State*</label>
								<select id="state" class="form-control" name="state" required="1">
									<option value=""></option>
									<option value="CT">CT</option>
									<option value="MA">MA</option>
									<option value="RI">RI</option>
									<option value=""></option>
									<option value="AK">AK</option>
									<option value="AZ">AZ</option>
									<option value="AR">AR</option>
									<option value="AK">AK</option>
									<option value="CA">CA</option>
									<option value="CO">CO</option>
									<option value="DE">DE</option>
									<option value="DC">DC</option>
									<option value="FL">FL</option>
									<option value="GA">GA</option>
									<option value="GU">GU</option>
									<option value="HI">HI</option>
									<option value="ID">ID</option>
									<option value="IL">IL</option>
									<option value="IN">IN</option>
									<option value="IA">IA</option>
									<option value="KS">KS</option>
									<option value="KY">KY</option>
									<option value="LA">LA</option>
									<option value="ME">ME</option>
									<option value="MD">MD</option>
									<option value="MI">MI</option>
									<option value="MS">MS</option>
									<option value="MO">MO</option>
									<option value="MT">MT</option>
									<option value="NE">NE</option>
									<option value="NV">NV</option>
									<option value="NH">NH</option>
									<option value="NJ">NJ</option>
									<option value="NM">NM</option>
									<option value="NY">NY</option>
									<option value="NC">NC</option>
									<option value="ND">ND</option>
									<option value="OH">OH</option>
									<option value="OK">OK</option>
									<option value="OR">OR</option>
									<option value="PA">PA</option>
									<option value="PR">PR</option>
									<option value="SC">SC</option>
									<option value="SD">SD</option>
									<option value="TN">TN</option>
									<option value="TX">TX</option>
									<option value="UT">UT</option>
									<option value="VT">VT</option>
									<option value="VA">VA</option>
									<option value="WA">WA</option>
									<option value="WV">WV</option>
									<option value="WI">WI</option>
									<option value="WY">WY</option>
								</select>
							</div>

                            <div class="form-group">
								<input
									type="hidden"
									class="form-control"
									name="id"
									required="1"
                                    value="{{call_data[0]}}"
								/>
							</div>
                            <div class="form-group">
								<input
									type="hidden"
									class="form-control"
									name="active"
									required="1"
                                    value="{{call_data[8]}}"
								/>
							</div>
							<div class="form-group">
								<label>Town*</label>
								<input
                                    id="town"
									type="text"
									class="form-control"
									name="town"
									required="1"
                                    value="{{call_data[3]}}"
								/>
							</div>

							<div class="form-group">
								<label>Road</label>
								<input
                                    id="road"
									type="text"
									class="form-control"
									name="roadname"
                                    value="{{call_data[5]}}"
								/>
							</div>

							<div class="form-group">
								<label>Narrative*</label>
								<input
                                    id="narrative"
									type="text"
									class="form-control"
									name="narrative"
									required="1"
                                    value="{{call_data[7]}}"
									minlength="20"
									maxlength="250"
								/>
							</div>

                            <div class="form-group">
                            <label>Secondary Dispatcher</label>
                            <select id="secondary_dispatcherid" class="form-control" name="secondary_dispatcherid">
                                <option value="None" </option>
                                {% for x in dispatchers %}
                                    <option value="{{x}}">{{x}}</option>
                                {% endfor %}
                            </select>
                            <small>Optional Field: Use this field to give credit to someone else</small>
                            </div>

                            <div class="form-group">
                                <label>Do you want public credit?</label>
                                <select id="public_credit" class="form-control" name="public_credit" required="1">
									<option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
 <h2 align="center">
    <span id="wordCount">232</span> Characters Available
        </h2>

							<div class="form-group" align="center">
                                <a class="btn btn-primary" type="reset" href="/dispatch">Return to Dispatch</a>
								<button class="btn btn-primary" type="reset">Reset</button>
                                <button class="btn btn-primary" type="submit">Edit Incident to Que</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
       <script>
    var incident = document.getElementById("incident");
    var state = document.getElementById("state");
    var town = document.getElementById("town");
    var road = document.getElementById("road");
    var narrative = document.getElementById("narrative");
    var wordCount = document.getElementById("wordCount");
    incident.addEventListener("click",function (){
        var incidentCharacters = incident.value.split('');
        var stateCharacters = state.value.split('');
        var townCharacters = town.value.split('');
        var roadCharacters = road.value.split('');
        var narrativeCharacters = narrative.value.split('');
        wordCount.innerText = 245-incidentCharacters.length-stateCharacters.length-townCharacters.length-roadCharacters.length-narrativeCharacters.length;
    });
    state.addEventListener("click",function (){
        var incidentCharacters = incident.value.split('');
        var stateCharacters = state.value.split('');
        var townCharacters = town.value.split('');
        var roadCharacters = road.value.split('');
        var narrativeCharacters = narrative.value.split('');
        wordCount.innerText = 245-incidentCharacters.length-stateCharacters.length-townCharacters.length-roadCharacters.length-narrativeCharacters.length;
    });
    town.addEventListener("keyup",function (){
        var incidentCharacters = incident.value.split('');
        var stateCharacters = state.value.split('');
        var townCharacters = town.value.split('');
        var roadCharacters = road.value.split('');
        var narrativeCharacters = narrative.value.split('');
        wordCount.innerText = 245-incidentCharacters.length-stateCharacters.length-townCharacters.length-roadCharacters.length-narrativeCharacters.length;
    });
    road.addEventListener("keyup",function (){
        var incidentCharacters = incident.value.split('');
        var stateCharacters = state.value.split('');
        var townCharacters = town.value.split('');
        var roadCharacters = road.value.split('');
        var narrativeCharacters = narrative.value.split('');
        wordCount.innerText = 245-incidentCharacters.length-stateCharacters.length-townCharacters.length-roadCharacters.length-narrativeCharacters.length;
    });
    narrative.addEventListener("keyup",function (){
        var incidentCharacters = incident.value.split('');
        var stateCharacters = state.value.split('');
        var townCharacters = town.value.split('');
        var roadCharacters = road.value.split('');
        var narrativeCharacters = narrative.value.split('');
        wordCount.innerText = 245-incidentCharacters.length-stateCharacters.length-townCharacters.length-roadCharacters.length-narrativeCharacters.length;
    });
</script>
{% endblock %}
