{% if logged == False %}
	{% extends 'basetopnav.html' %}
{% else %}
	{% extends 'topnav.html' %}
{% endif %}
{% block body %}
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="author" content="Daniel Majercik">
<meta name="description" content="">
<title>About | Quiet Corner Alerts</title>
</head>
<style>
body p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 35px;
}
body h2 {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: #FFFFFF;
}
body {
    background-color: #545E75;
}
</style>

<body>
<h1>About Quiet Corner Alert</h1>
<p>Originating in the Quite Corner of Connecticut very few agencies had the staffing or resources for a Public Information Officer(PIO). This left a critical gap in the communites insight into emergencies going on around them. Quiet Corner Alerts was founded in and effort to keep the community aware or these incidents as they occur in the communities of our users. We are an independent service that is not affiliated with any municipality or agency. We rely on tips and information our amazing dispatchers gather from monitoring emergency radio frequencies.</p>
</body>
{% endblock %}