
{% block body %}
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="author" content="Daniel Majercik">
<meta name="description" content="">
<title>About | Quiet Corner Alerts</title>
</head>
<style>
.content{
    margin-left: 2%;
  margin-right: 2%;
    text-align: center;
  }
}
</style>

<body>
<div class="content">
<h1 align="center">Who We Are</h1>
<br>
<p>Beginning in 2019, we took our backgrounds as public safety volunteers, professionals, and "fire buffs" and decided to fill a gap in communication largely present in the Quiet Corner of Connecticut. Many departments do not have the capacity to have a dedicated public information officer or social media manager. In modern day this makes it extremely difficult to provide information to the public. Quiet Corner Alerts strives to bring accurate alerts directly to the community in a responsible and safe manner. We are not affiliated with any federal, state, or local agency. All information is gained through publicly available sources and tips.</p>
<br>
<h1>Contact Us</h1>
<p>Local Twitter (Covering Southern Worcester County, MA, Windham County and Tolland County, CT, and Providence County, RI): <a href="twitter.com/QCA_Local">@QCA_Local</a></p>
<p>National Twitter (covering the whole nation): <a href="twitter.com/QCA_National">@QCA_National</a></p>
<p>Local Facebook: <a href="www.facebook.com/QuietCornerAlerts">Quiet Corner Alerts</a></p>
<p>Business Number: 860-821-3223</p>
<p>Email: QuietCornerAlerts@Protonmail.com</p>
</div>
</body>
{% endblock %}