{% extends 'admintopnav.html' %}
{% block header %}
<!doctype html>
<html>
	<!--W3 Schools assisted Coding-->
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="author" content="Daniel Majercik">
<meta name="description" content="">
<title>Dispatch | Quiet Corner Alerts</title>
</head>
<style>
.content{
    margin-left: 2%;
    margin-right: 2%;
}
table{
    border-collapse: separate;
    border-spacing:0 5px;
    text-align: center;
}
</style>
{% endblock header%}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = setupChat;

    function setupChat()
    {
        setInterval("refreshChat();",30000);

    }

    function refreshChat()
    {
       $('#incidenttables').load("/dispatch #incidenttables");
       $('#activeusers').load("/dispatch #activeusers");
    }
  </script>
<body>
<div class="content">
<div class="row">
    <p align="center">Join the chat at zello.com/quietcorneralerts</p>
    <div id="activeusers">
        <p align="center">Active Users:
        {% for user in activeusers %}
            {{ user }}
        {% endfor %}
    </p>
    </div>
    <div class="column1">
        <h2 align="center">Incident Que <a type="button" class="btn btn-success" href="/newincident">New Incident</a></h2>
        <div id="incidenttables">
            <div class="quetable">
            <table class="table table-hover">
  <thead>
    <tr>
    <th>Update</th>
    <th>Primary Dispatcher</th>
    <th>Secondary Dispatcher</th>
   <th>Date</th>
   <th>Time</th>
   <th>Town</th>
   <th>State</th>
   <th>Road</th>
   <th>Incident Type</th>
   <th>Narrative</th>
    <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
      {% for row in que_data %}
                        <tr class="table-default">
                            <td>{{row[9]}}</td>
                            <td>{{row[8]}}</td>
                            <td>{{ row[10] }}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                            <td>{{row[6]}}</td>
                            <td>{{row[7]}}</td>
                            <td>
                        <div class="btn-group-vertical">
                              <a type="button" class="btn btn-primary btn-sm" href="/confirm/{{ row[0] }}">Confirm</a>
                              <a type="button" class="btn btn-primary btn-sm" href="/edit/{{ row[0] }}">Edit</a>
                              <a type="button" class="btn btn-danger btn-sm" href="/delete/{{ row[0] }}" onclick="return confirm('Are you sure you want to delete this incident?')">Delete</a>
                        </div>

                            </td>
                        </tr>
                        {% endfor %}
    </tr>
    </tbody>
</table>

            </div>
            <br>
            <h2 align="center">Past 24hr Incidents</h2>

            <div class="twentyfourhrtable">
                <table class="table table-hover">
  <thead>
    <tr>
    <th>Update</th>
    <th>Primary Dispatcher</th>
    <th>Secondary Dispatcher</th>
   <th>Date</th>
   <th>Time</th>
   <th>Town</th>
   <th>State</th>
   <th>Road</th>
   <th>Incident Type</th>
   <th>Narrative</th>
    <th>Buttons</th>
    </tr>
  </thead>
                   </tr>
                    {% for row in twentyfourhour_data %}
                    <tr>
                        <td>{{row[10]}}</td>
                        <td>{{row[8]}}</td>
                        <td>{{ row[11] }}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>
                             <div class="btn-group-vertical">
                             <a type="button" class="btn btn-primary btn-sm" href="/tweet/{{row[0]}}">Tweet Incident</a>
                             <a type="button" class="btn btn-primary btn-sm" href="/edit/{{row[0]}}">Edit</a>
                             <a type="button" class="btn btn-primary btn-sm" href="/update/{{row[0]}}">Update Incident</a>
                             <a type="button" class="btn btn-danger btn-sm" href="/delete/{{row[0]}}" onclick="return confirm('Are you sure you want to delete this incident?')">Delete</a>
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <h2>Flagged Incidents</h2>
            <div class="flaggedtable">
                <table class="table table-hover table-dark">
                   <tr>
                       <th>Dispatcher</th>
                       <th>Date</th>
                       <th>Time</th>
                       <th>Town</th>
                       <th>State</th>
                       <th>Road</th>
                       <th>Incident Type</th>
                       <th>Narrative</th>
                       <th>Buttons</th>
                   </tr>
                    {% for row in flagged_data %}
                    <tr>
                        <td>{{row[8]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[7]}}</td>
                        <td>
                            <div class="btn-group-vertical">
                            <a href="/edit/{{row[0]}}" ><button>Edit</button></a>
                            <a href="/delete/{{row[0]}}" onclick="return confirm('Confirm Delete?')"><button>Delete</button></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}
</html>
