{% extends 'basetopnav.html' %}
{% block header %}
<!doctype html>
<html>
	<!--W3 Schools assisted Coding-->
<head>
<meta charset="utf-8">
<meta name="keywords" content="">
<meta name="author" content="Daniel Majercik">
<meta name="description" content="">
<title>Dispatch | Quiet Corner Alerts</title>
</head>
{% endblock header%}
{% block body %}
<style>
.content{
    margin-left: 2%;
    margin-right: 2%;
}
table{
    border-collapse: separate;
    border-spacing:0 5px;
    text-align: center;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = setupChat;

    function setupRefresh()
    {
        setInterval("refreshBlock();",15000);
    }

    function setupChat()
    {
        setInterval("refreshChat();",5000);

    }
    function refreshBlock()
    {
       $('#incidenttables').load("/dispatch #incidenttables");
    }

    function refreshChat()
    {
       $('#incidenttables').load("/dispatch #incidenttables");
    }
  </script>
<body>

<div class="row">
    <div class="column1">
            <h2>Past 24hr Incidents</h2>
            <div class="twentyfourhrtable">
                <table class="table table-hover table-dark">
                   <tr>
                       <th>Dispatcher</th>
                       <th>Date</th>
                       <th>Time</th>
                       <th>Town</th>
                       <th>State</th>
                       <th>Incident Type</th>
                   </tr>
                    {% for row in twentyfourhour_data %}
                    <tr>
                        <td>{{row[8]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[6]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
