<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Data Polling test</h1>
    <p>
        View Count: <strong id="viewCount">0</strong>
    </p>
<script>
    function startLiveUpdate () {
        const textViewCount = document.getElementById('viewCount');

        setInterval(function () {
            fetch('data_poll.php').then(async response => {
      try {
       const data = await response.json()
       console.log('response data?', data).then(function (data) {
                textViewCount.textContent = data.viewCount;
            }).catch(function (error) {
                console.log(error);
            });
        }, 2000);
    }

    document.addEventListener('DOMContentLoaded', function () {
        startLiveUpdate();
    })
</script>
</body>

</html>